<% content_for :page_title do %>
Create Widget - 
<% end %>
<div class="container">
<div class="page-header">
<h1>
New Widget
</h1>
</div>

<%= render 'form', widget: @widget %>

<div class="clearfix"></div>
<%= link_to "<span class=\"glyphicon glyphicon-ban-circle\" aria-hidden=\"true\"></span> Cancel".html_safe, widgets_path, class: "btn btn-default" %>
</div>
