<h1>Statistics</h1>

<section class="row text-center placeholders">
	    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-3">
            <a class="btn btn-lg btn-success" href="#">
                <i class="fa fa-flag fa-2x pull-left"></i> 
                Font Awesome<br>Version 4.7.0
            </a>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <a class="btn btn-lg btn-success" href="#">
                <i class="fa fa-shopping-cart fa-2x pull-left"></i> 
                New Orders<br>last 24 hours
            </a>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <a class="btn btn-lg btn-success" href="#">
                <i class="fa fa-users fa-2x pull-left"></i> 
                5210 New Users<br>past week
            </a>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <a class="btn btn-lg btn-success" href="#">
                <i class="fa fa-shopping-cart fa-2x pull-left"></i> 
                20544 Unique Visits<br>since new release
            </a>
        </div>
</section>